/* Global style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    list-style-type: none;
}
html, body {
    height: 100%;
}

/* menu bar */
header {
    top: 0;
    width: 100%;
    background-color: white;
    position: fixed;
    box-shadow: 0px 4px 4px grey;
}
header li {
    float: left;
    text-align: center;
}
header li a {
    display: block;
    padding: 20px;
    text-decoration: none;
}
header li a:hover {
    background-color: lightblue;
}

/* main content */
#main {
    min-height: 100%;
    margin: 100px 20px -100px 20px;
}
#article {
    float: left;
    width: 70%
    /*padding: 0px 55% 5% 15%;*/
}
.feature {
    margin-top: 1em;
    display: inline;
    word-wrap: break-word
}
#aside {
    float: left;
    width: 30%;
    /*padding: 0px 15% 5% 5%;*/
}
.widget {
    margin-top: 1em;
    display: inline;
    word-wrap: break-word
}

/* footer */
footer {
    height: 100px;
    background-color: dimgrey;
}
.footer_content {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}